body{
    font-family: 'Roboto', sans-serif;
}
/*PÁGINA 1*/
#header-login{
    display: flex;
    width: 100vw;
    margin-top: 55px;
    align-items: center;
    flex-direction: column;
}
header h1{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 5px;
}
header h3{
    font-weight: 100;
    font-size: 35px;
}
#section-login{
    display: flex;
    justify-content: center;
}
.box-login{
    background: #6C8FB8;
    margin-top: 40px;
    width: 380px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.box-login input{
    width: 340px;
    line-height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
}
.box-login button{
    background-color: #39385A;
    border: none;
    color: white;
    font-size: 20px;
    padding: 12px 40px;
    margin-top: 5px;
}
/*PÁGINA 2*/
#header-novo-quizz{
    height: 50px;
    width: 100vw;
    background: #6C8FB8;
    color: white;
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
    display: flex;
    align-items: center;
}
#section-novo-quizz{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 50px 100px 0px 100px;
}
#div-novo-quizz{
    background: #7EA6D4;
    color: white;
    display: flex;
    height: 130px;
    width: 115px;
    border-radius: 10px;
    justify-content: center;
    position: relative;
    margin: 0 15px 10px 0;
    text-align: center;
}
#div-novo-quizz p{
    font-weight: bold;
    padding-top: 30px;
    line-height:20px;
}
#div-novo-quizz ion-icon{
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-size: 30px;
    margin-top: 5px;
}